:root {
    --white-standard: #FFFFFF;
    --background-color: #997910;
    --button-check: #530303;
}

body {
    margin: 0;
    font-family: 'arial', sans-serif;
}
.website__header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-standard);
}

.container__logo--description {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.website__logo {
    width: 60px;
}

.menu_nav {
    margin-right: 40px;
}

.links__nav {
    color: var(--white-standard);
    margin-right: 10px;
    text-decoration: none;
}

.app__field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.input__container {
    width: 500px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid var(--background-color);
}

.button__search {
    width: 250px;
    padding: 10px 0;
    cursor: pointer;
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    color: var(--white-standard);
}

.result__search {
    padding: 50px;
} 

.result__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.result__meal {
    list-style-type: none;
    background-color: var(--background-color);
    margin: 10px;
    border-radius: 10px;
    color: var(--white-standard);
    text-align: center;
}

.container__meal {
    margin: 10px;
    text-align: center;
}

.name__recipes {
    font-size: 14px;
}

.recipes__image {
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(255, 187, 0);
}

.container__country {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flag__image {
    width: 40px;
    margin: 10px;
}

.name__flag {
    font-size: 10px;
}

.button__check {
    background-color: var(--button-check);
    color: var(--white-standard);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 20px 10px;
    width: 300px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.recipe__detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}

.destail__recipe {
    margin: 50px 100px;
}

.recipe__summary {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: var(--white-standard);
    margin: 0 200px;
}

.recipe__image {
    width: 240px;

}

.recipe__tittle {

}

.recipe_ingridients {
    text-align: left;
}

.website__footer {
    bottom: 0;
    display: block;
    text-align: center;
}

.website__container--footer {
    margin: 0;
    padding: 0;
}

.text__footer {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.logo__footer {
    width: 30px;
}

@media screen and (max-width:1000px) {
    .container__logo--description {
        padding: 5px;
    }

    .website__logo {
        width: 60px;
    }

    .menu_nav {
        margin-right: 60px;
    }

    .website__tittle {
        margin-left: 10px;
        padding: 0;
        font-size: 25px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 550px;
        margin: 10px 0;
    }

    .result__search {
        padding: 30px;
    }

    .result__list {
        grid-template-columns: 1fr 1fr;
    }

    .button__check {
        width: 280px;
        padding: 20px 0;
    } 
    
}

@media screen and (max-width:700px) {
    .container__logo--description {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .website__logo {
        width: 50px;
    }

    .menu_nav {
        margin-right: 20px;
    }

    .website__tittle {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 450px;
        margin: 10px 0;
    }

    .result__list {
        grid-template-columns: 1fr;
    }

    .recipes__image {
        width: 300px;
    }

    .name__recipes {
        font-size: 26px;
    }

    .container__country {
        margin: 0;
        padding: 0;
    }

    .name__flag {
        font-size: 14px;
    }

    .button__check {
        width: 360px;
    }
}

@media screen and (max-width:480px) {
    .container__logo--description {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .website__logo {
        width: 50px;
    }

    .menu_nav {
        margin-right: 20px;
    }

    .website__tittle {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 300px;
        margin: 10px 0;
    }

    .recipes__image {
        width: 200px;
    }

    .button__check {
        width: 260px;
    }
}

@media screen and (max-width:320px) {
    .container__logo--description {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .website__logo {
        width: 40px;
    }

    .menu_nav {
        margin-right: 20px;
        font-size: 12px;
    }

    .website__tittle {
        margin: 0;
        padding: 0;
        font-size: 8px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 220px;
        margin: 10px 0;
    }

    .button__search {
        width: 180px;
    }

    .recipes__image {
        width: 160px;
    }

    .name__recipes {
        font-size: 18px;
    }

    .name__flag {
        font-size: 10px;
    }

    .button__check {
        width: 160px;
    }
}