:root {
    --white-standard: #FFFFFF;
    --background-color: #997910;
    --button-check: #530303;
    --project-background: #b6a27b;
    --link-active: purple;
    --red-alert: #ff0000;
}

body {
    margin: 0;
    font-family: 'arial', sans-serif;
    background-color: var(--project-background);
}
.website__header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-standard);
}

.container__logo--description {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.website__logo {
    width: 60px;
}

.menu_nav {
    margin-right: 40px;
}

.links__nav {
    color: var(--white-standard);
    margin-right: 10px;
    text-decoration: none;
}

.links__nav:hover {
    color: var(--link-active);
}

.project__presantation {
    color: var(--white-standard);
    margin: 0 20px;
    text-align: center;
}

.error__message{
    display: block;
    text-align: center;
    color: var(--red-alert);
    font-weight: 700;
}

.app__field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input__container {
    width: 500px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid var(--background-color);
}

.buttons {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.button__search {
    width: 125px;
    padding: 10px 0;
    cursor: pointer;
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    color: var(--white-standard);
}

.reset {
    display: inline-block;
    width: 125px;
    padding: 10px 0;
    cursor: pointer;
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    color: var(--white-standard);
    text-decoration: none;
    text-align: center;
    background-color: var(--red-alert);
    font-size: 14px;
}

.result__search {
    padding: 50px;
    margin: 0 200px;
} 

.result__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.result__meal {
    list-style-type: none;
    background-color: var(--background-color);
    margin: 10px;
    border-radius: 10px;
    color: var(--white-standard);
    text-align: center;
}

.container__meal {
    margin: 10px;
    text-align: center;
}

.name__recipes {
    font-size: 14px;
}

.recipes__image {
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(255, 187, 0);
}

.container__country {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flag__image {
    width: 40px;
    margin: 10px;
}

.name__flag {
    font-size: 10px;
}

.button__check {
    background-color: var(--button-check);
    color: var(--white-standard);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 20px 10px;
    width: 300px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.recipe__detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 200px;
}

.destail__recipe {
    margin: 0;
    color: var(--white-standard);
}

.recipe__summary {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: var(--white-standard);
    margin: 0 150px;
}

.recipe__image {
    width: 240px;

}

.recipe__ingridients {
    text-align: left;
    list-style-type: none;
}

.website__footer {
    position: absolute;
    width: 100%;
    margin: auto auto;
    bottom: 0;
    background-color: var(--background-color);
}

.text__footer {
    font-size: 10px;
}

.contact__form {
    margin: 0 100px;
    text-align: left;
}

form {
	margin: 40px 0;
}

form label, .textoContato {
	display:  block;
	font-size: 20px;
	margin: 0 0 10px;
}

.inputStandard {
	display:  block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.send {
	width: 20%;
	padding: 15px 0;
	background: var(--background-color);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
}

@media screen and (max-width:1280px) {
    .container__logo--description {
        padding: 5px;
    }

    .website__logo {
        width: 60px;
    }

    .menu_nav {
        margin-right: 60px;
    }

    .website__tittle {
        margin-left: 10px;
        padding: 0;
        font-size: 25px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 550px;
        margin: 10px 0;
    }

    .result__search {
        padding: 30px;
        margin: 0 100px;
    }

    .result__list {
        grid-template-columns: 1fr 1fr;
    }

    .button__check {
        width: 280px;
        padding: 20px 0;
    }

    .recipe__detail {
        margin: 0 50px;
    }
    
    .recipe__summary {
        margin: 0 260px;
        grid-row: 1;
        grid-column: span 2;
    }

    .destail__recipe {
        grid-column: span 2;
    }

    .inputStandard {
        width: 70%;
    }
    
    .send {
        width: 40%;
    }
    
}

@media screen and (max-width:1024px) {
    .container__logo--description {
        padding: 5px;
    }

    .website__logo {
        width: 60px;
    }

    .menu_nav {
        margin-right: 60px;
    }

    .website__tittle {
        margin-left: 10px;
        padding: 0;
        font-size: 25px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 550px;
        margin: 10px 0;
    }

    .result__search {
        padding: 30px;
        margin: 0 50px;
    }

    .result__list {
        grid-template-columns: 1fr 1fr;
    }

    .button__check {
        width: 280px;
        padding: 20px 0;
    }

    .recipe__detail {
        margin: 0 10px;
    }
    
    .recipe__summary {
        margin: 0 260px;
        grid-row: 1;
        grid-column: span 2;
    }

    .recipe__image {
        width: 180px;
    }

    .destail__recipe {
        grid-column: span 2;
        margin: 0 50px;
    }

    .inputStandard {
        width: 90%;
    }
    
    .send {
        width: 60%;
    }
    
}

@media screen and (max-width:800px) {
    .container__logo--description {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .website__logo {
        width: 50px;
    }

    .menu_nav {
        margin-right: 20px;
    }

    .website__tittle {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 450px;
        margin: 10px 0;
    }

    .result__search {
        margin: 0 30px;
    }

    .result__list {
        grid-template-columns: 1fr;
    }

    .recipes__image {
        width: 300px;
    }

    .name__recipes {
        font-size: 26px;
    }

    .container__country {
        margin: 0;
        padding: 0;
    }

    .name__flag {
        font-size: 14px;
    }

    .button__check {
        width: 360px;
    }

    .recipe__detail {
        font-size: 16px;
    }

    .recipe__summary {
        margin: 0 100px;
        grid-row: 1;
        grid-column: span 2;
    }

    .destail__recipe {
        grid-column: span 2;
    }

    .inputStandard {
        width: 70%;
    }
    
    .send {
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    .container__logo--description {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .website__logo {
        width: 50px;
    }

    .menu_nav {
        margin-right: 20px;
    }

    .website__tittle {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .input__container::placeholder {
        font-size: 10px;
    }

    .project__presantation {
        font-size: 12px;
    }   
    
    .error__message{
        font-size: 12px;
        margin: 0 4px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 300px;
        margin: 10px 0;
    }

    .result__search {
        margin: 0 5px;
    }

    .recipes__image {
        width: 200px;
    }

    .button__check {
        width: 260px;
    }

    .recipe__detail {
        font-size: 12px;
    }

    .recipe__summary {
        margin: 0 20px;
        grid-row: 1;
        grid-column: span 2;
    }

    .destail__recipe {
        grid-column: span 2;
        margin: 50px 50px;
    }

    .contact__form {
        margin: 0 50px
    }

    .inputStandard {
        width: 80%;
    }
    
    
    .send {
        width: 80%;
    }

}

@media screen and (max-width:340px) {
    .container__logo--description {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .website__logo {
        width: 40px;
    }

    .menu_nav {
        margin-right: 20px;
        font-size: 12px;
    }

    .website__tittle {
        margin: 0;
        padding: 0;
        font-size: 8px;
    }

    .input__container::placeholder {
        font-size: 8px;
    }

    .project__presantation {
        font-size: 8px;
    }   
    
    .error__message{
        margin: 0 2px;
        font-size: 8px;
    }

    .recipes__search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input__container {
        width: 220px;
        margin: 10px 0;
    }
    

    .button__search {
        width: 90px;
    }
    
    .reset {
        width: 90px;
    }

    .recipe__detail {
        font-size: 8px;
    }

    .recipes__image {
        width: 160px;
    }

    .name__recipes {
        font-size: 18px;
    }

    .name__flag {
        font-size: 10px;
    }

    .button__check {
        width: 160px;
    }

    .recipe__image {
        width: 180px;
    }

    .recipe__summary {
        grid-row: 1;
        grid-column: span 2;
    }

    .destail__recipe {
        grid-column: span 2;
        margin: 40px 30px;
    }
}